@import '../../Styles/@mixins'
.aboutUsSection
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    background-image: url('../../assets/AboutUsComponent.jpg')
    background-position: center
    height: 85vh
    background-repeat: no-repeat
    background-size: cover
    overflow: hidden
    width: 100%

.aboutUsSection__text
    text-align: center
    max-width: 920px
    margin: 0 60px
    padding: 30px 0 40px
    @include text-medium

.aboutUsSection__title
    text-align: center
    @include heading-H2-web

@media screen and ('max-width: 870px')
    .aboutUsSection__title
        @include heading-H2-mob

    .aboutUsSection__text
        max-width: 655px
        @include text-medium-mob

@media screen and ('max-width: 650px')
    .aboutUsSection__text
        margin: 0
        max-width: 345px


@media screen and ('max-width: 450px')
    .aboutUsSection__text
        margin: 0
        max-width: 280px

