@import '../../Styles/@mixins'

.reviews

    min-height: 800px
    width: 100%
    background-image: url('../../assets/images/reviews-back.jpg')
    background-position: center
    display: flex
    flex-direction: column
    gap: 50px
    align-items: center
    position: relative
    overflow: hidden
    background-repeat: no-repeat
    background-size: cover

.reviews__title
    @include heading-H2-web
    margin: 130px 0 0

.reviews__cards
    display: flex
    justify-content: space-evenly
    margin: 0 40px
    max-width: 1440px
    width: 100%
    flex-wrap: wrap
    column-gap: 20px
    row-gap: 40px

@media screen and ('max-width: 870px')
    .reviews__title
        @include heading-H2-mob