
///DESCTOP FONTS
@mixin heading-H1-web
    font-size: 70px
    font-weight: 700
    line-height: 84px

@mixin heading-H2-web
    font-size: 40px
    font-weight: 600
    line-height: 48px

@mixin heading-H4-web
    font-size: 20px
    font-weight: 600
    line-height: 24px

@mixin text-medium
    font-size: 20px
    font-weight: 400
    line-height: 32px

@mixin heading-H3-web
    font-size: 30px
    font-weight: 400
    line-height: 48px

///MOBILE FONTS
