.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .imgContainer {
        max-width: 300px;
    }
  
    .prev-button,
    .next-button {
      position: absolute;
      transform: translateY(-50%);
    }
  
    .prev-button {
      left: 0;
    }
  
    .next-button {
      right: 0;
    }
  }


  .dots-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 10px;
      cursor: pointer;
      background-color: lightgray;
  
      &.active {
        background-color: darkgray;
      }
    }
  }